<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="$(SolutionDir)..\..\..\sln\packages" />
  </config>
</configuration>

<!-- 
.\nuget.exe config -configFile .\nuget.config
.\nuget.exe pack -properties Configuration=Release
.\nuget.exe push mpolewaczyk.InteractiveDataDisplay.WPF.X.Y.Z.nupkg key -Source https://api.nuget.org/v3/index.json
-->